.hover {
/*	font-size: 100px;
*/	font-family: Helvetica;
	text-decoration: none;
	text-decoration-color: white;
    text-align: center;
    opacity: .85;
}

.hovered {
    font-size: 100px;
    font-family: Helvetica;
    text-decoration: none;
    text-decoration-color: white;
}

.clicked {
	background-color: blue;
}

div {
	width: 100px;
	height: 100px;
	background: red;
	float: left;
	border: dotted 10px white;
}

h1.hover {
    color: white;
/*    font-size: 100px;
*/    font-family: Helvetica;
    text-decoration: none;
    text-decoration-color: white;
    text-align: center;
    opacity: .85;
    }

h2 {
    color: white;
    font-size: 50px;
    font-family: Helvetica;
    text-decoration: none;
    text-decoration-color: white;
    text-align: center;
    opacity: .85;
    line-height: 125%;
}

.pink{
    color: 002E69;
}

a {
    color: white;
    font-size: 100px;
    font-family: Helvetica;
    text-decoration: none;
    text-decoration-color: white;
    }

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(keetra.m4v) no-repeat;
    background-size: cover; 
}