/***CSS TUTORIAL: COLOR PAGE*/

/*PAGE FONT*/
body {
	font: 16px "Comic Sans MS", cursive;
}

/*PARAGRAPHS*/
p {
	color: #0000ff; /* blue */
}

#first {
	font-style: italic;
}

/*INITIAL LETTERS*/
strong {
	background-color: #ddf; /* pale blue */
	color: #ff0000;
	font: 200% serif;
}

.carrot {color: orange; /* orange */
}

.spinach {
	color: #008000;
	background-color: #ddf; /* dark green */
}

a.homepage:link, a.homepage:visited {
	padding: 1px 10px 1 px 10px;
	color: #fff;
	background: #555;
	border-radius: 3px;
	border: 1px outset rgba(50,50,50,.5);
	font-family: georgia, serif;
	font-size: 14px;
	font-style: italic;
	text-decoration: none;
}

a.homepage:hover, a.homepage:focus, a.homepage:active {
	background-color: #666;
}

/* color for headings */
h1, h2, h3 {
	color: navy;
}

.ref::before{
	font-weight: bold;
	color: navy;
	content: "Reference: ";
}

#second {
	font-style: normal;
}

.serif {
	font-style: serif;
	font-size: 200%;
	text-decoration: none;
}





